.header_clz {
	min-height: 50px;
}
.footer__clz {
	min-height: 50px;
}

.body__clz {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
   
}
.home__clz {
	flex: 1;
     padding-left: 310px;
      padding-right: 500px;
      padding-top:310px
}
